<div class="library-menu">
    <ul class="menu">
        <li class="menu-item">
            <a href="/articles"><i class="fa fa-book fa-lg" aria-hidden="true"></i>Books</a>
        </li>
        <li class="menu-item">
            <a href="/stores"><i class="fa fa-user fa-lg" aria-hidden="true"></i>Authors</a>
        </li>
    </ul>
</div>

